.error {
  /* position: absolute; */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

.error__title {
  color: var(--font-color);
  font: var(--error-message-font);
  text-align: center;
  text-transform: uppercase;
}
